rough-drawer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 50;

	--drawer-gap: 1rem;
}

rough-drawer[open] {
	pointer-events: auto;
}

.rough-drawer-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: auto;
}

.rough-drawer-panel {
	position: absolute;
	background: darkorange;
	pointer-events: auto;
	touch-action: none;
}

/* Bottom drawer (default) */
rough-drawer[direction="bottom"] .rough-drawer-panel,
rough-drawer:not([direction]) .rough-drawer-panel {
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	border-radius: var(--drawer-gap) var(--drawer-gap) 0 0;
}

/* Top drawer */
rough-drawer[direction="top"] .rough-drawer-panel {
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	border-radius: 0 0 var(--drawer-gap) var(--drawer-gap);
}

/* Right drawer */
rough-drawer[direction="right"] .rough-drawer-panel {
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	border-radius: var(--drawer-gap) 0 0 var(--drawer-gap);
}

/* Left drawer */
rough-drawer[direction="left"] .rough-drawer-panel {
	top: 0;
	left: 0;
	bottom: 0;
	width: 100vw;
	border-radius: 0 var(--drawer-gap) var(--drawer-gap) 0;
}

.rough-drawer-handle {
	position: absolute;
	background: black;
	border-radius: 2.5px;
	cursor: grab;
}

/* vertical drawers */
:where(
		rough-drawer[direction="bottom"],
		rough-drawer[direction="top"],
		rough-drawer:not([direction])
	)
	.rough-drawer-content {
	height: calc(100vh - 60px);
}

/*  horizontal drawers */
:where(rough-drawer[direction="left"], rough-drawer[direction="right"])
	.rough-drawer-content {
	width: calc(100vw - 60px);
	height: 100vh;
}

/* Bottom drawer handle */
rough-drawer[direction="bottom"] .rough-drawer-handle,
rough-drawer:not([direction]) .rough-drawer-handle {
	top: var(--drawer-gap);
	left: 50%;
	transform: translateX(-50%);
	width: calc(var(--drawer-gap) * 2);
	height: 5px;
}

/* Top drawer handle */
rough-drawer[direction="top"] .rough-drawer-handle {
	bottom: var(--drawer-gap);
	left: 50%;
	transform: translateX(-50%);
	width: calc(var(--drawer-gap) * 2);
	height: 5px;
}

/* Right drawer handle */
rough-drawer[direction="right"] .rough-drawer-handle {
	top: 50%;
	left: var(--drawer-gap);
	transform: translateY(-50%);
	width: 5px;
	height: calc(var(--drawer-gap) * 2);
}

/* Left drawer handle */
rough-drawer[direction="left"] .rough-drawer-handle {
	top: 50%;
	right: var(--drawer-gap);
	transform: translateY(-50%);
	width: 5px;
	height: calc(var(--drawer-gap) * 2);
}
